    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" (click)="navigateToHome()"><span>Store Duck</span></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="mx-auto">

            </ul>
            <button class="btn btn-primary mx-1 shadow" (click)="navigateToRegister()" i18n>Sign In</button>
            <button class="btn btn-primary mx-1 shadow" (click)="navigateToLogin()" i18n>Log In</button>

            <a type="button"  (click)="moveToShoppingCart()" >
                <!-- <i class="pi pi-shopping-cart text-2xl" pBadge value="2"></i> -->
                <i class="pi pi-shopping-cart fs-2" pBadge value="{{myStoreLength}}" severity="danger"></i>
            </a>
        </div>
    </div>
</nav>
